/* ---------RESETS--------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* FOR REMOVING THE BLANK SPACE ON THE SIDE  */
@media screen and (max-width: 1024px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}



/*------------CONTAINER/GRID-------------*/
.container{
max-width: 120rem;
margin: 0 auto;
padding: 1rem 1.5rem;
}

/* COLORS  */
:root {
    --mainRed: #7e1f23;
    --darkRed: #7e191b;
    --dark: #191919;
    --light: #ffffff;
}

/* BUTTON CSS */
.btn{
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size:1.5rem;
    border-radius: 20px;
} 

.main{
    color: var(--light);
    background-color: var(--darkRed);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;
    transition: .5s ease-in;
}

.main:hover{
    background-color: var(--light);
    color: var(--darkRed);
    border: 2px solid var(--darkRed);
    transition: .5s ease-in;
}



/* ===== HEADER ===== */
.header{
    background-color: var(--mainRed);
    padding: 1rem;
    position: relative;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-branding img{
    width: 10rem;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.header-nav li a{
    color: var(--light);
    font-size: 1.8rem;
}

.toggle__menu{
    display: none;
}

@media screen and (max-width: 500px) {
    .header-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        background: var(--mainRed);
        width: 100%;
        position: absolute;
        top: 14rem;
        right: 0;
        overflow: hidden;
        max-height: 0;
        transition: .5s ease;
        z-index: 9;
    }
    
    .header-nav.open{
        max-height: 50rem;
        transition: .5s ease;
    }

    .header-nav li:first-child{
        margin-top: 3rem;
    }

    .header-nav li:last-child{
        margin-bottom: 3rem;
    }
    
    .header-branding img{
        width: 10rem;
    }
    
    .toggle__menu span{
        width: 3rem;
        height: .3rem;
        display: block;
        margin-top: .3rem;
        border-radius: 5rem;
        transition: .5s ease;
        background-color: var(--light);
    }
    
    .toggle__menu{
        display: block;
    }
    
    .toggle__menu.open span:first-child{
        transform: translate(0, 5px) rotate(225deg);
        transition: .5s ease;
    }
    
    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease;
    }
    
    .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-225deg);
        transition: .5s ease;
    }
    
    .toggle__menu:hover{
        cursor: pointer;
    }

}




/* ===== BANNER SECTION ===== */
.banner{
    background-image: url('./img/banner-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.banner-bg{
    background-color: rgba(126, 31, 35, .95);
    padding-top: 3rem;
    height: 70vh;
    position: relative;
}

.banner-img img{
    width: 45rem;
}

.banner-img{
    position: absolute;
    right: 15%;
    bottom: -8rem;
}

.banner-text{
    width: 50rem;
    margin-top: 10rem;
}

.banner-text h3{
    font-size: 5rem;
    color: var(--light);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3rem;
}

.banner-text h3 span{
    display: block;
}

.banner-text p{
    font-size: 1.8rem;
    color: var(--light);
}

@media screen and (max-width: 500px){
    .banner-img img{
        width: 35rem;
    }
    
    .banner-img{
        position: absolute;
        right: 10%;
        bottom: -5rem;
    }
    
    .banner-text{
        width: 100%;
        margin-top: 3rem;
    }

}


/* ===== ABOUT SECTION ===== */
.about{
    padding-top: 10rem;
    position: relative;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text{
    width: 50rem;
}

.about-text h3{
    color: var(--dark);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 3rem;
}

.about-text h3 span{
    color: var(--darkRed);
    display: block;
}

.about-text p{
    color: var(--dark);
    font-size: 1.7rem;
    text-align: justify;
}

.about-cards-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
}

.about-cards{
    padding: 4rem;
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35rem;
    height: 35rem;
}

.about-cards-img{
    display: flex;
    justify-content: end;
    margin-bottom: -6rem;
}

.about-cards-img img{
    width: 6rem;
}

.about-cards h4{
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: 700;
}

.about-cards h3{
    color: var(--dark);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 2rem 0;
    width: 10rem;
}

.about-cards p{
    color: var(--dark);
    font-size: 1.7rem;
    width: 10rem;
    line-height: 1.2;
}

.about-cards span{
    height: .5rem;
    width: 9rem;
    display: block;
    background-color: var(--darkRed);
    margin-top: 2rem ;
}

.about-merchant{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3rem 0;
}

.about-merchant-phone{
    position: relative;
}

.about-merchant-phone-img img{
    width: 65rem;
}

.about-merchant-phone-text{
    position: absolute;
    right: 2rem;
    top: 8rem;
}

.about-merchant-phone-text h4{
    color: var(--dark);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.about-merchant-phone-text h3{
    color: var(--darkRed);
    font-size: 5rem;
    font-weight: 800;
    width: 27rem;
    line-height: 1;
}

.about-merchant-app{
    width: 40rem;
    margin-top: 10rem;
}

.about-merchant-app-img img{
    width: 20rem;
}

.about-merchant-app-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-merchant-app p{
    color: var(--dark);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 2rem 0;
}

@media screen and (max-width: 500px) {

    .about-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .about-vid iframe{
        width: 400px;
    }
    
    .about-text{
        width: 100%;
    }

    .about-text h3 span{
        display: unset;
        margin-left: 1rem;
    }
    
    .about-cards-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .about-merchant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-merchant-phone-img img{
        width: 100%;
    }

    .about-merchant-phone-text{
        right: 0;
        top: 3rem;
    }
    
    .about-merchant-phone-text h4{
        text-align: right;
    }
    
    .about-merchant-phone-text h3{
        text-align: right;
        font-size: 4rem;
    }
    
    .about-merchant-app{
        width: 100%;
        margin-top: 5rem;
    }
    
    .about-merchant-app-img img{
        width: 50%;
    }
    
    .about-merchant-app-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .regbtn{
        width: 100%;
        text-align: center;
    }


}


/* ===== SERVICES SECTION ===== */
.services{
    background-image: url('./img/service-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.services-bg{
    background-color: rgba(225, 225, 225, .9);
    padding: 5rem 0;
}

.services-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-title h3{
    color: var(--dark);
    font-size: 5rem;
    font-weight: 800;
}

.services-title p{
    color: var(--dark);
    font-size: 1.6rem;
    line-height: 1.5;
    width: 60rem;
}

.services-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 12rem;
}

.service-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem
}

.service-cards h4{
    color: var(--dark);
    font-size: 2rem;
    font-weight: 800;
}

.service-cards img{
    width: 10rem;
}


@media screen and (max-width: 500px) {
    
    .services-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .services-title p{
        width: 100%;
        text-align: justify;
    }
    
    .services-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    .service-cards{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem
    }

    .service-cards h4{
        font-size: 2.5rem;
    }

}


/* ===== CONTACT SECTON ===== */
.contact{
    position: relative;
    padding: 10rem 0;

}

.contact-bg {
    background-image: url('./img/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
    width: 35rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

.contact-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Red color with 90% opacity */
    z-index: 1;
}

.contact-bg * {
    position: relative;
    z-index: 2;
}

.contact-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 7rem ;
}

.contact-img{
    position: absolute;
    left: -5rem;
    bottom: -.5rem;
    z-index: 2;
}

.contact-img img{
    width: 50rem;
}

.contact-form-text h3{
    color: var(--dark);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.contact-form-text p{
    color: var(--dark);
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.form-group label{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-group label span{
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
    height: 100px;
}

.submitBtn{
    width: 15rem;
    text-align: center;
}



@media screen and (max-width: 500px) {
    .contact{
        position: relative;
        padding: 5rem 0;
    
    }

    .contact-bg {
        display: none;
    }
    
    .contact-img img{
        display: none;
    }

    .contact-form-text h3{
        text-align: center;
    }
    
    .contact-form-text p{
        text-align: justify;
        font-size: 1.5rem;
    }
    
    .contact-wrapper{
        margin-right: 0 ;
    }

    .submitBtn{
        width: 100%;
        margin-top: 2rem;
    }

}



/* ===== LINKS SECTON ===== */
.links{
    padding: 5rem 0;
    background-color: var(--light);
}

.links-wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10rem;
}

.link-card{
    width: 30rem;
}

.link-card h3{
    color: var(--dark);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: left;
}

.link-1 img{
    width: 10rem;
    margin-bottom: 2rem;
}

.link-1 p{
    color: var(--dark);
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.2;
}

.link-2 {
    width: 20rem;
}

.link-2 ul li {
    margin-bottom: 1.5rem;
}


.link-2 ul li a{
    color: var(--dark);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.link-3 ul li{
    color: var(--dark);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.link-4 ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 12rem;
}


.link-4 ul li a{
    color: var(--darkRed);
    font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
    .links-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .link-card{
        width: 100%;
    }

    .link-1 img{
        width: 15rem;
    }
    
    .link-1 p{
        font-size: 1.6rem;
    }

    .link-4 ul{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 4rem;
        width: 100%;
    }
    
}

/* ===== FOOTER SECTON ===== */
.footer{
    padding: 1.5rem;
    background-color: var(--darkRed);
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper p{
    color: var(--light);
    font-size: 1.6rem;
    font-weight: 700;
    font-style: italic;
}


@media screen and (max-width: 500px) {
    
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .footer-wrapper p{
        color: var(--light);
        font-size: 1.5rem;
    }

}
